.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: $white;
    height: 34px;
    min-width: 70px;
    padding: 5px 10px;
    line-height: 1;
    border: none;
    cursor: pointer;

    &_base {
        background-color: $btn-base-bg;

        &:hover,
        &:active {
            background-color: $btn-base-hover;
        }
    }

    &_warn {
        background-color: $btn-warn-bg;

        &:hover,
        &:active {
            background-color: $btn-warn-hover;
        }
    }
}