// Colors base
$black: #000;
$white: #fff;
$green: #21c753;

// type
$base-f-family: Arial, sans-serif;
$base-f-size: 16px;

// Colors functional
$text-color: $black;

$base-color: $green;

// forms
$input-border-color: $black;
$input-border-focus: $green;